@font-face {
  font-family: "GlacialIndifference";
  src: url("./assets/fonts/GlacialIndifference-Regular.woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "GlacialIndifference";
  src: url("./assets/fonts/GlacialIndifference-Bold.woff");
  font-weight: 700;
  font-style: normal;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  height: 100%;
  line-height: 1;
  font-size: 24px;
  font-family: GlacialIndifference;
  color: rgb(40, 37, 54);
  scroll-behavior: smooth;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
}
.container {
  max-width: 1300px;
  margin: 0 auto;
}
/*---Header styles-------------------------------------------------------------------*/
.header {
  width: 100%;
}
.header-container {
  display: flex;
  min-height: 353px;
  background-color: rgb(40, 37, 54);
  align-items: center;
}
@media (max-width: 992px) {
  .header-container {
    min-height: 230px;
  }
}
.header-decorative-box {
  width: 4%;
}
.header-photo {
  width: 30%;
  min-height: 353px;
  background-color: rgb(206, 57, 23);
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 992px) {
  .header-photo {
    min-height: 230px;
  }
}
.userpic {
  width: 80%;
  border-radius: 50%;
  border: 15px solid rgb(40, 37, 54);
}
.header-content {
  width: 66%;
  min-height: 353px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 992px) {
  .header-content {
    min-height: 230px;
  }
}
.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.nav-item {
  margin-right: 28px;
}
.nav-link {
  line-height: 350%;
  font-size: 20px;
  color: rgb(233, 233, 233);
  transition: color 0.3s;
}
@media (max-width: 992px) {
  .nav-link {
    line-height: 150%;
  }
}
.nav-link:hover {
  color: rgb(230, 80, 46);
  text-decoration: underline;
}
.header-headline {
  font-size: 85px;
  font-weight: 700;
  color: rgb(233, 233, 233);
  margin: auto;
}
@media (max-width: 992px) {
  .header-headline {
    font-size: 52px;
  }
}
/*---Main sidebar styles-------------------------------------------------------------------*/
.main {
  width: 100%;
}
@media (max-width: 992px) {
  .main {
    font-size: 18px;
  }
}
.main-container {
  display: flex;
  background-color: rgb(233, 233, 233);
}
.main-decorative-box {
  width: 4%;
}
.main-sidebar {
  width: 30%;
  font-size: 26px;
  color: rgb(233, 233, 233);
  background-color: rgb(230, 80, 46);
}
@media (max-width: 992px) {
  .main-sidebar {
    font-size: 18px;
  }
}
.main-content {
  width: 66%;
}
.section {
  padding-left: 8%;
}
.section-title {
  border-left: 5px solid rgb(230, 80, 46);
  border-top: 5px solid rgb(230, 80, 46);
  border-bottom: 5px solid rgb(230, 80, 46);
  border-radius: 20px 0 0 20px;
  margin: 30px 0 10px 0;
  padding: 3px 0 5px 30px;
  font-size: 48px;
  font-weight: 700;
}
@media (max-width: 992px) {
  .section-title {
    font-size: 30px;
    padding: 3px 0 5px 5px;
  }
}
.contacts-list {
  margin-left: 14%;
}
.location-item {
  list-style-image: url(./assets/icons/location.png);
  line-height: 150%;
  padding-bottom: 8px;
}
.telegram-item {
  list-style-image: url(./assets/icons/telegram.png);
  line-height: 150%;
  padding: 8px 0;
}
.mail-item {
  list-style-image: url(./assets/icons/mail.png);
  line-height: 150%;
  padding: 8px 0;
}
.github-item {
  list-style-image: url(./assets/icons/github.png);
  line-height: 150%;
  padding: 8px 0;
}
.discord-item {
  list-style-image: url(./assets/icons/discord.png);
  line-height: 150%;
  padding: 8px 0;
}
.contacts-link {
  color: rgb(233, 233, 233);
  transition: color 0.3s;
}
.contacts-link:hover {
  color: rgb(40, 37, 54);
  text-decoration: underline;
}
.languages-list,
.skills-list {
  margin-left: 3%;
  line-height: 150%;
}
.language-item,
.skills-item {
  padding: 8px 0;
}
/*---Main content styles-------------------------------------------------------------------*/
.text-about-me {
  padding: 0 20px;
  line-height: 1.5;
}
.education-item {
  line-height: 2;
  list-style-type: square;
  margin-left: 40px;
}
.code {
  margin: 10px 70px 0 0;
  padding: 30px 0 0 0;
  background-color: rgb(40, 37, 54);
  border-radius: 20px;
}
@media (max-width: 992px) {
  .code {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }
}
.text-purple {
  color: rgb(162, 97, 222);
}
.text-orange {
  color: rgb(230, 80, 46);
}
.text-white {
  color: rgb(233, 233, 233);
}
.project-content-container {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}
.project-thumb {
  margin-top: 20px;
  width: 210px;
  border: 10px solid rgb(40, 37, 54);
  border-radius: 20px;
  display: block;
  transition: transform 0.3s;
}
.project-thumb:hover {
  transform: scale(1.1);
}
.project-description {
  width: 35%;
  padding-left: 10px;
}
.project-future {
  margin: 20px 0 0 40px;
  width: 28%;
  height: 154px;
  background-color: rgb(196, 196, 196);
  border: 10px solid rgb(40, 37, 54);
  border-radius: 20px;
}
.project-future-text {
  padding-top: 20%;
  color: rgb(233, 233, 233);
  text-align: center;
}
/*---Footer styles-------------------------------------------------------------------*/
.footer {
  width: 100%;
}
.footer-container {
  display: flex;
  background-color: rgb(40, 37, 54);
  align-items: center;
}
.footer-decorative-box {
  width: 4%;
}
.footer-github {
  width: 30%;
  background-color: rgb(206, 57, 23);
}
.footer-content {
  width: 66%;
  display: flex;
  align-items: center;
}
.footer-rs-logo {
  width: 80%;
}
.rs-logo {
  width: 320px;
  margin: auto;
  display: block;
  transition: transform 0.3s;
}
@media (max-width: 992px) {
  .rs-logo {
    width: 220px;
  }
}
.rs-logo:hover {
  transform: scale(1.1);
}
.footer-year {
  width: 20%;
}
.meta {
  font-family: GlacialIndifference;
  padding-left: 50px;
  font-size: 60px;
  font-weight: 700;
  line-height: 0.8;
  color: rgb(233, 233, 233);
}
@media (max-width: 992px) {
  .meta {
    padding-left: 0;
  }
}
.github-logo {
  margin: 10px auto 0;
  display: block;
  transition: filter 0.8s;
}
.github-logo:hover {
  filter: opacity(10%);
}
